:root {
  --main-font-faimily: "Open Sans", sans-serif;
  --title-font-family: "Roboto", sans-serif;
  --main-color: #515151;
  --black-color: #0f0101;
  --featured-item-link-color: #323232;
  --hover-focus-change-color: #1abc9c;
  --white-color: #fff;
  --button-color: #4ec6ab;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* TYPOGRAPHY */
p {
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-color);
  font-family: var(--main-font-faimily);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--white-color);
}

/* CONTAINER */

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
}

/* TYPOGRAPHY */

.section-title,
.item-title {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 0.6;
  text-transform: uppercase;
  color: var(--main-color);
}

/* NAVIGATION */

.menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 105px;
}

.site-logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--title-font-family);
  font-size: 30px;
  line-height: 1.06;
}

/* Text style for "m" */

.site-logo span {
  color: var(--hover-focus-change-color);
  font-weight: 700;
}

/* Text style for "art" */

.site-logo {
  color: var(--main-color);
  font-weight: 300;
}

.menu-section-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-section-link {
  display: inline-block;
  padding: 2px 36px;
  font-family: var(--main-font-faimily);
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--menu-section-link-color);
}

.menu-section-link:hover,
.menu-section-link:focus {
  color: var(--hover-focus-change-color);
}

/* GALLERY */

.featured-list {
  margin-bottom: 105px;
}

.section-title {
  margin-bottom: 130px;
}

.featured-list {
  display: flex;
  flex-wrap: wrap;
}

.featured-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 4 - 22.5px);
  padding-bottom: 30px;
}

.featured-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.featured-list-item:nth-last-child(-n + 4) {
  padding-bottom: 0;
}

.featured-list-link:hover .featured-item-cost,
.featured-list-link:focus .featured-item-cost {
  background-color: var(--button-color);
}

.featured-list-link:hover,
.featured-list-link:focus {
  background-color: var(--hover-focus-change-color);
}

.featured-list-link {
  background-color: var(--featured-item-link-color);
  text-decoration: none;
}

.featured-image {
  margin-bottom: -4px;
}

.featured-item-description {
  display: flex;
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  min-width: 255px;
  min-height: 40px;
  padding-left: 13px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  font-family: var(--title-font-family);
  color: var(--white-color);
}

.featured-item-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.7;
  min-width: 54px;
  min-height: 40px;
  background-color: var(--main-color);
}

/* BLOG SECTION */

.blog-section {
  padding-bottom: 82px;
}

.item-title {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.blog-list {
  display: flex;
}

.blog-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 3 - 20px);
}

.blog-list-item.blog-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.blog-item-image {
  margin-bottom: 14px;
}

.item-paragraph {
  color: var(--main-color);
  font-family: var(--main-font-faimily);
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.blog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 51px;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--main-font-faimily);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.blog-button:hover,
.blog-button:focus {
  background-color: var(--hover-focus-change-color);
}
